@font-face {
    font-family: 'TitleFont';
    src: url(Fonts/old_london/OldLondon.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #fff;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}

.d-none{
    left: 30px;
    background-color: rgba(0, 0, 0, 0.356);
    max-width: 800px;
    text-align: left;
    padding: 30px 50px;
    align-items: flex-start;
    display: flex;
}

.display-4 {
    color: white;
    font-size: 25px;
    text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}

.lead {
    font-family: 'TitleFont', serif;
    letter-spacing: 3px;
    line-height: 100%;
    color: white;
    font-size: 50px;
    text-shadow: 0 1px 3px rgb(0 0 0 / 20%);

}

@media (min-width: 0px) and (max-width: 600px) {
    .display-4 {
        font-size: 45px !important;
    }

    .lead {
        font-size: 25px !important;
    }

    .d-none {
        bottom: 53% !important;
    }

    .port {
        bottom: 40% !important;
    }

    .text {
        font-size: 45px;
    }
}

.carousel-control-next-icon:hover {
    background-color: transparent;

}

.carousel-control-prev-icon:hover {
    background-color: transparent;

}