@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* Default Styles */

/* Set background color, height, scroll behavior, and hide horizontal overflow */
html {
  background-color: #fdfdfd;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Set selection background color */
::selection {
  background-color: #b721139c;
}

/* Reset margin and padding for all elements, and set border-box for box-sizing */
* {
  margin: 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}

/* Set background color for body */
body {
  background-color: #fdfdfd;
}

/* Header Slideshow */

/* Set height, background position, and background size for carousel items */
.carousel-item {
  margin-top: 60px;
  height: 93vh;
  min-height: 350px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.95;
  background-color: white !important;
}

/* Position carousel caption at the bottom */
.carousel-caption {
  bottom: 5% !important;
}

/* Style for the caption text container */
.d-none {
  left: -50px;
  background-color: #000b2988;
  max-width: 800px;
  text-align: left;
  padding: 50px 50px;
  align-items: flex-start;
  display: flex;
  margin-bottom: -10px;
  scale: 0.75;
}

/* Style for the caption heading */
.display-4 {
  color: #fdfdfd;
  font-size: 20px;
  text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

/* Style for the caption lead text */
.lead {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 100%;
  color: #fdfdfd;
  font-size: 45px;
  text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

/* Style for carousel control icons */
.carousel-control-next,
.carousel-control-prev {
  font-size: 50px !important;
  color: #fdfdfd;
  opacity: 1;
  margin-bottom: 50px !important;
  user-select: none;
}

/* Remove background color on hover for next control icon */
.carousel-control-next-icon:hover {
  background-color: transparent;
}

/* Remove background color on hover for previous control icon */
.carousel-control-prev-icon:hover {
  background-color: transparent;
}

/* Navbar */

/* Container for the logo */
.sbhs-logo-container {
  position: relative;
  height: 0px;
}

/* Style for the logo image */
.sbhs-logo {
  position: relative;
  margin-left: 0px;
  width: 400px;
  height: auto;
  pointer-events: none;
  z-index: 100;
}

/* Container for the navbar */
.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Reset margin for unordered lists */
ul {
  margin-bottom: 0px;
}

/* Style for the navbar */
.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 20px;
  padding-right: 1em;
  align-items: center;
  background-color: #fff;
}

/* Style for navbar items */
.navbar-item {
  padding: 1em;
  list-style-type: none;
  z-index: 100;
}

/* Style for navbar links on hover */
.navbar-a-item:hover {
  text-decoration: none;
  color: #0061bb !important;
}

/* Style for sub-navbar links on hover */
.navbar-container-sub a:hover {
  color: #000000;
}

/* Style for navbar links */
.navbar-a-item {
  color: black;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.084);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  transition: color 0.1s ease-in-out;
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
}

/* Position the carousel caption */
.carousel-caption {
  bottom: 30%;
}

/* Style for dropdown menu on hover */
.dropdown-menu-name:hover .dropdown-menu-header {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

/* Style for dropdown menu header */
.dropdown-menu-header {
  padding-top: 0px;
  position: absolute;
  margin-left: -68px;
  margin-top: 0px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

/* Style for dropdown menu nav */
.header-menu__dropdown-nav {
  background-color: #fff;
}

/* Style for dropdown menu items */
.dropdown-item {
  list-style-type: none;
  background-color: transparent !important;
  color: black;
  font-family: "montserrat";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 10px 0px;
}

/* Style for dropdown menu items on hover */
.dropdown-item:hover {
  background-color: transparent;
  color: #0061bb;
}

/* Style for dropdown menu name on hover */
.dropdown-menu-header:hover .dropdown-menu-name a {
  color: #0061bb;
}

/* Reset list style for list items */
li {
  list-style-type: none;
}

/* Style for dropdown menu nav */
.header-menu__dropdown-nav {
  text-align: center;
  width: 200px;
  padding: 10px;
  list-style-type: none;
}

/* Animation for text */
@keyframes text {
  100% {
    transform: translate(-100%, 0);
  }
}

/* Collapsed Header */
/* Style for collapsed header */
#collapsedHeader {
  position: fixed;
  right: 0;
  width: 150px;
  height: 200px;
  margin-top: 50px;
  background-color: #fff;
  z-index: 99;
  transform: translateX(200%);
  transition: all 0.5s;
}

/* Style for navbar in collapsed header */
.navbar.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2em;
}

/* Style for list items in collapsed header navbar */
.navbar.two li {
  padding: 0.5em 0em;
}

/* Style for links in collapsed header navbar */
.navbar.two a {
  font-size: 0.7em;
}

/* Hide menu initially */
.menu{
  display: none;
}

/* Rolling Track CSS */

/* Style for track container */
.track-container {
  padding: 1em;
  background-color: #002446;
  color: #fdfdfd;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  user-select: none;
  overflow: hidden;
}

/* Style for track text */
.track {
  position: relative;
  display: flex;
  animation: text 50s linear infinite !important;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 1.1em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  cursor: auto;
  font-weight: 200;
  text-shadow: 0 1px 3px rgb(0 0 0 / 15%);
}

/* Section Title */

/* Style for section title container */
.section-title {
  padding: 50px;
  padding-bottom: 10px;
  text-align: center;
}

/* Style for section title heading */
.section-title h1 {
  color: #024b8f;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 2.5em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Style for section title paragraph */
.section-title p {
  margin-bottom: 0px;
  color: black;
  font-family: "montserrat", serif;
  letter-spacing: 3px;
  font-size: 1.1em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Rector address */

/* Style for rector container */
.rector-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Style for rector image */
.rector-container img {
  height: 50vw;
}

/* Style for rector text container */
.rector-text-container {
  background-color: #b72113;
  max-width: 50vw;
  min-height: 500px;
  position: relative;
  margin-left: -100px;
  padding: 50px;
  padding-bottom: 30px;
}

/* Style for rector text heading */
.rector-text-container h1 {
  color: #fdfdfd;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 2em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Style for rector text paragraph */
.rector-text-container p {
  color: #fdfdfd;
  font-family: "montserrat", serif;
  font-size: 0.9em;
  user-select: none;
}

/* Style for button container */
.button-container {
  display: block;
  margin-top: 30px;
}

/* Style for button link */
.button-container a {
  background-color: #1b3680;
  border: solid 1.5px #1b3680;
  color: #fdfdfd !important;
  font-family: "montserrat", serif;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 0.8em;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration-line: none;
  transition: all 0.5s;
}

/* Style for button link on hover */
.button-container a:hover {
  background-color: transparent !important;
  color: #1b3680 !important;
}

/* Explore Section */

/* Style for explore section */
.explore-section {
  background-color: rgba(128, 128, 128, 0.107);
}

/* Style for explore whole container */
.explore-whole-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
}

/* Style for explore container */
.explore-container {
  width: 375px;
  margin: 20px;
  text-align: center;
}

/* Style for explore item */
.explore {
  height: 325px;
  width: 375px;
  background-color: #fdfdfd;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  text-align: center;
  color: #fdfdfd;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.5s;
}

/* Style for explore item on hover */
.explore:hover {
  transform: scale(1.05);
}

/* Style for explore image */
.image img {
  height: auto;
  width: 375px;
}

/* Style for explore text heading */
.explore-text-container h1 {
  font-family: "Cinzel", serif;
  font-size: 1.3em;
  text-transform: uppercase;
}

/* Style for explore text paragraph */
.explore-text-container p {
  font-family: "montserrat";
  font-size: 0.8em;
  letter-spacing: 1px;
}

/* Style for button container two */
.button-container-two {
  display: block;
  margin-top: 30px;
}

/* Style for button link two */
.button-container-two a {
  background-color: none;
  border: solid 1.5px #1b3680;
  color: #1b3680 !important;
  font-family: "montserrat", serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 0.8em;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration-line: none;
  transition: all 0.5s;
  font-weight: 600;
}

/* Style for button link two on hover */
.button-container-two a:hover {
  background-color: #b72113 !important;
  border: solid 1.5px #b72113;
  color: #fdfdfd !important;
}

/* Whats on/News Section */

/* Whatson News Section */
.whatson-news-section {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 4em;
  background-color: #fdfdfd;
}

/* Whatson Section */
.whatson-section {
  width: 50vw;
  border-right: 0.1px solid black;
  justify-content: center;
}

/* News Section */
.news-section {
  width: 50vw;
  border-left: 0.1px solid black;
}

/* Whatson Container */
.whatson-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Whatson Event */
.whatson {
  display: flex;
  flex-direction: row;
  margin: 30px;
  align-items: center;
  cursor: pointer;
}

/* Date Box */
.whatson .date-box {
  text-align: center;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #1b3680;
  color: #fdfdfd;
  font-family: "Cinzel";
  font-size: 1.4em;
  line-height: 25px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* Date Box Hover */
.date-box:hover {
  background-color: #b72113;
}

/* Whatson Event Text */
.whatson p {
  text-align: left;
  color: black;
  font-family: "montserrat";
  margin-left: 30px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  max-width: 300px;
}

/* Horizontal Line */
hr {
  width: 50px;
  margin-right: 50px;
  background-color: #000000;
}

/* News Section Container */
.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

/* News Whole Container */
.news-whole-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

/* News Container */
.news-container {
  display: row;
  flex-direction: column;
  text-align: center;
  margin: 0px 30px;
  transform: scale(1.1);
  cursor: pointer;
}

/* News Image Container */
.news-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 200px;
  height: 125px;
  overflow: hidden;
  transition: all 0.5s;
}

/* News Image */
.news-image-container img {
  width: 200px;
}

/* News Image Hover */
.news-image-container:hover {
  transform: scale(1.1);
}

/* News Text Container */
.news-text-container h1 {
  text-align: left;
  font-family: "montserrat";
  letter-spacing: 1px;
  font-size: 0.7em;
  text-transform: capitalize;
  max-width: 200px;
}

/* Footer */
footer {
  width: 100vw;
  min-height: 550px;
  background-color: #b72113;
  margin-top: 100px;
}

/* Footer Container */
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
}

/* Footer Column */
.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Column 1 */
.column-1 {
  align-items: flex-start;
}

/* Footer Column Text */
.footer-column {
  color: #ffffff;
  margin: 50px;
  margin-top: 0px;
}

/* Footer Column Heading */
.footer-column h1 {
  margin-top: 10px;
  font-family: "Cinzel";
  font-size: 1.5em;
}

/* Column 1 Paragraph */
.column-1 p {
  font-family: "montserrat";
  font-size: 14px;
  letter-spacing: 1px;
}

/* Footer Image */
footer img {
  margin: 20px 50px 0px 50px;
  padding-top: 25px;
}

/* Footer Horizontal Line */
footer hr {
  width: 100vw;
  background-color: #fff;
  justify-self: center;
  margin: 20px 0px 0px 0px;
}

/* Socials */
.socials {
  margin-bottom: 20px;
}

/* Social Icons */
.socials i {
  margin-right: 5px;
  font-size: 20px;
  color: #fff;
}

/* Footer Links */
.footer-column a {
  color: rgba(255, 255, 255, 0.71);
  text-decoration: none;
  font-size: 0.8em;
  margin: 5px 0px 5px 0px;
  font-family: "montserrat";
  letter-spacing: 1px;
  text-align: center;
}

/* Footer Title */
.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Footer Title Heading */
.footer-title h1 {
  padding-top: 25px;
  font-family: "Cinzel";
  font-size: 3em;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

/* Choir Page CSS */
/* Main Container */
.m-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Main Container Image */
.m-container img {
  height: 40vw;
}

/* Main Text Container */
.m-text-container {
  background-color: #1b3680;
  max-width: 50vw;
  min-height: 500px;
  position: relative;
  padding: 50px;
  padding-bottom: 30px;
}

/* Main Text Container Heading */
.m-text-container h1 {
  color: #fdfdfd;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 2em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Main Text Container Paragraph */
.m-text-container p {
  color: #fdfdfd;
  font-family: "montserrat", serif;
  font-size: 0.9em;
  user-select: none;
}

/* Main Left Section */
.m-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Section Title */
.m-section-title {
  padding-bottom: 10px;
  text-align: center;
}

/* Main Section Title Heading */
.m-section-title h1 {
  color: #024b8f;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 2.5em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Main Section Title Paragraph */
.m-section-title p {
  margin-bottom: 0px;
  color: black;
  font-family: "montserrat", serif;
  letter-spacing: 3px;
  font-size: 1em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
}

/* Debating Container */
.d-container {
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

/* Debating Container Image */
.d-container img {
  height: 40vw;
}

/* Debating Text Container */
.d-text-container {
  background-color: #b72113;
  max-width: 50vw;
  min-height: 500px;
  position: relative;
  padding: 50px;
  padding-bottom: 30px;
}

/* Debating Text Container Heading */
.d-text-container h1 {
  color: #fdfdfd;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 2em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Debating Text Container Paragraph */
.d-text-container p {
  color: #fdfdfd;
  font-family: "montserrat", serif;
  font-size: 0.9em;
  user-select: none;
}

/* Debating Left Section */
.d-left {
  display: flex;
  flex-direction: column;
}

/* Debating Section Title */
.d-section-title {
  padding-bottom: 10px;
  text-align: center;
}

/* Debating Section Title Heading */
.d-section-title h1 {
  color: #024b8f;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  font-size: 2.5em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

/* Debating Section Title Paragraph */
.d-section-title p {
  margin-bottom: 0px;
  color: black;
  font-family: "montserrat", serif;
  letter-spacing: 3px;
  font-size: 1em;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
}

/* Debating page */

/* Debating container styles */
.debating-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 75px;
}

/* Section title styles for debating page */
.section-title.debating {
  padding-top: 55px;
}

/* Debating text container styles */
.debating-text-container {
  width: 60%;
  background-color: #1b3680;
  padding: 50px;
}

/* Heading styles for debating text container */
.debating-text-container h1 {
  font-family: "Cinzel", serif;
  font-size: 2.5em;
  color: #fff;
}

/* Paragraph styles for debating text container */
.debating-text-container p {
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #fff;
}

/* Debating gallery container styles */
.debating-gallery-container {
  display: flex;
}

/* Row styles for debating gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Column styles for debating gallery */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Image styles for debating gallery */
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Choir video container styles */
.choir-video {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #b72113;
  padding: 50px;
}

/* Momentum choir container styles */
.momentum-choir {
  background-color: #1b3680;
}

/* Chess page */

/* Chess image container styles */
.chess-image-container- {
  display: flex;
  justify-content: center;
}

/* Chess image styles */
.chess-image-container- img {
  width: 80vw;
}

/* Chess whole container styles */
.chess-whole-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
}

/* Chess container styles */
.chess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 50px;
  border: 0.5px solid black;
  margin: 25px;
}

/* Chess icon styles */
.chess-image-container i {
  font-size: 5em;
  background: -webkit-linear-gradient(#1b3680, #b72113);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* Chess text container styles */
.chess-text-container {
  max-width: 250px;
  text-align: center;
}

/* Chess heading styles */
.chess-text-container h1 {
  font-family: "Cinzel", serif;
  font-size: 2em;
  background: -webkit-linear-gradient(#b72113, #1b3680);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Chess paragraph styles */
.chess-text-container p {
  font-family: "montserrat";
  font-size: 0.9em;
}

/* Chess text container styles */
.chess-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Chess heading styles */
.chess-text h1 {
  color: #b72113;
  font-family: "Cinzel", serif;
  width: 80%;
}

/* Chess paragraph styles */
.chess-text p {
  color: #000000;
  font-family: "montserrat";
  width: 80%;
}

/* Responsivity */

/* Media query for screens between 0px and 900px */
@media (min-width: 0px) and (max-width: 900px) {
  .navbar.one {
    padding-bottom: 25px;
  }
  .header1{
    display: none;
  }
  .menu{
    display: block !important;
  }
  .footer-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* Media query for screens up to 600px */
@media (max-width: 600px){
  p{
    font-size: 0.7em !important;
  }
  .section-title h1{
    font-size: 2em;
  }
}

/* Media query for screens wider than 900px */
@media (min-width: 900px){
  #collapsedHeader{
    display: none;
  }
}

/* Media query for screens up to 1000px */
@media (max-width: 1000px){
  .rector-container {
    flex-direction: column;
  }
   
  .rector-text-container {
    margin-top: 30px;
    margin-left: 0px;
    max-width: 80vw;
    padding: 30px;
  }

  .column-2{
    margin-right: 0px !important;
  }
}

/* Media query for screens up to 1100px */
@media (max-width: 1100px){
  .whatson-news-section {
    flex-direction: column;
    align-items: center;
  }

  .whatson-section{
    border: none;
    width: 80vw;
  }

  .news-section{
    border: none;
    width: 80vw;
  }

  .m-container{
    flex-direction: column;
  }

  .m-text-container{
    max-width: 80vw;
    margin-top: 2em;
  }

  .m-image-container img{
    height: 500px;
  }
  .d-container{
    flex-direction: column;
  }

  .d-text-container{
    max-width: 80vw;
    margin-top: 2em;
  }

  .d-image-container img{
    height: 600px !important;
  }
}
